@media (max-width: 880px) {
  body {
    background: none;
  }

  #content {
    width: 100%;
    padding: 0px 18px 12px 18px;
    box-shadow: none;
  }

  #content .time {
    width: 100%;
    display: block;
    text-align: left;
    padding: 0;
  }

  #content .time span {
    display: inline-block;
  }

  #content .time+p {
    padding-top: 0;
  }

  #content .col-50 {
    width: 100%;
  }

  #content .col-25 {
    width: 100%;
  }

  #fusion_map {
    width: 100%;
  }

  #doc {
    width: 100%;
    height: auto;
  }
}