{{- $past := .Get "past" -}}
{{- range $year, $events := .Site.Data.events -}}
{{- if ge (int $year) now.Year -}}
{{- $thresholdDate := now.AddDate 0 0 0 -}}
{{- $selectedEvents := slice -}}
{{- if eq $past "true" -}}
{{- $selectedEvents = where $events "end" "lt" ($thresholdDate.Format "2006-01-02T15:04:05Z07:00") -}}
{{- else -}}
{{- $selectedEvents = where $events "end" "ge" ($thresholdDate.Format "2006-01-02T15:04:05Z07:00") -}}
{{- end -}}
{{- if gt (len $selectedEvents) 0 -}}
<h3>Events {{ $year }}</h3>
<table class="table fusion-calendar">
    <thead>
        <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        {{- range sort $selectedEvents "start" -}}
        <tr>
            <td>
                {{- $startDate := .start | time.Format "02" -}}
                {{- $startMonth := .start | time.Format "Jan" -}}
                {{- $endDate := .end | time.Format "02" -}}
                {{- $endMonth := .end | time.Format "Jan" -}}

                {{- if eq $startMonth $endMonth -}}
                {{ $startDate }}-{{ $endDate }} {{ $startMonth }}
                {{- else -}}
                {{ $startDate }} {{ $startMonth }} - {{ $endDate }} {{ $endMonth }}
                {{- end -}}
            </td>
            <td>{{ .location }}</td>
            <td>
                {{- if .link -}}
                <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                {{- else -}}
                {{ .name }}
                {{- end -}}
            </td>
        </tr>
        {{- end -}}
    </tbody>
</table>
{{- end -}}
{{- end -}}
{{- end -}}