{{- $dataKey := .Get "dataKey" -}}
{{- $events := index .Site.Data $dataKey -}}
{{- $yesterday := now.AddDate 0 0 -1 -}}
{{- $upcomingEvents := where $events "start" "ge" ($yesterday.Format "2006-01-02T15:04:05Z07:00") -}}
<h3>Events</h3>
{{ if $upcomingEvents }}
<table class="table fusion-calendar">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {{- range sort $upcomingEvents "start" -}}
        <tr>
            <td>
                {{- if .link -}}
                <a href="{{ .link }}" target="_blank">{{ .title }}</a>
                {{- else -}}
                {{ .title }}
                {{- end -}}
            </td>
            <td>
                {{- $startTime := .start | time.Format "15:04" -}}
                {{- $startDate := .start | time.Format "02" -}}
                {{- $startMonth := .start | time.Format "January" -}}
                {{- $startYear := .start | time.Format "2006" -}}
                {{- $endTime := .end | time.Format "15:04" -}}
                {{- $endDate := .end | time.Format "02" -}}
                {{- $endMonth := .end | time.Format "January" -}}

                {{- if and (eq $startDate $endDate) (eq $startMonth $endMonth) -}}
                {{ $startTime }} - {{ $endTime }} {{ $startDate }} {{ $startMonth }} {{ $startYear }}
                {{- else -}}
                {{ $startTime }} {{ $startDate }} {{ $startMonth }} - {{ $endTime }} {{ $endDate }} {{ $endMonth }} {{
                $startYear }}
                {{- end -}}
            </td>
            <td>{{ .location }}</td>
        </tr>
        {{- end -}}
    </tbody>
</table>
{{- else -}}
<p>There are currently no upcoming events available.</p>
{{- end -}}

{{ $icsRelUrl := printf "%s/index.ics" $dataKey }}
{{- $webCalUrl := $icsRelUrl | absURL | replaceRE "^https?://" "webcal://" | safeURL }}
<p>
    Subscribe to these events with your favourite calendar app via
    <a href="{{ $icsRelUrl | absURL | safeURL }}">ICS</a>
    or <a href="{{ $webCalUrl }}">WebCal</a>.
    Another option to stay up to date is subscribing to the <a href="{{ .Page.Permalink }}index.xml">RSS feed</a> of
    newly added events.
</p>

<p>
    <hr>
</p>
<p style="font-size:80%;text-align:center;">
    Are you an organiser and want one of these local community pages for yourself? See onboarding instructions <a
        href="/local-scenes">here</a>.
</p>